<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--<servlet-mapping>-->
        <!--<servlet-name>default</servlet-name>-->
        <!--<url-pattern>*.xml</url-pattern>-->
        <!--<url-pattern>*.png</url-pattern>-->
        <!--<url-pattern>*.jpg</url-pattern>-->
        <!--<url-pattern>*.gif</url-pattern>-->
        <!--<url-pattern>*.js</url-pattern>-->
        <!--<url-pattern>*.css</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.tw.todolist.Servlet.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.tw.todolist.Servlet.AddToDoServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteToDoServlet</servlet-name>
        <servlet-class>com.tw.todolist.Servlet.DeleteToDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteToDoServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UpdateToDoServlet</servlet-name>
        <servlet-class>com.tw.todolist.Servlet.UpdateToDoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateToDoServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
</web-app>